.env
gold_dev.ipynb
.venv
playground.ipynb
playground2.ipynb
items.csv
test_api.ipynb
test_api_playground.ipynb
test_api_gold.ipynb
ETL_IMPROVEMENTS.md
check_data.ipynb
items_dev.ipynb
/__pycache__/
/__pyche__/
new_gold_pg.ipynb